@charset "UTF-8";
.MainLogo{
    font-size:120%;
    Text-align:center;
}
.content-wrapper .content-header .container-fluid .Searchs{
    text-align: center;
    font-size:120%;
}
.iImg{
    float: left; 
    width:256px;
    height:256px; 
    margin: 0 20px 20px;
}
.Newjoho{
    margin: 45px auto;
    border-style:double;
    font-size: 130%;
}
.Searchbtn{
    color:#000000;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
}
.Searchbtn2{
    color:#000000;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
}
.Searchbtn:hover{
    color:#555555;
}
.Searchbtn2:hover{
    color:#555555;
}
.logo-border{
    text-decoration: none;
}
.login-btn{
    color:#000000;
}
.login-btn:hover{
    color:#555555;
}
.btn-float{
    float:right;
}
.info-box-img{
    float:left;
     margin:6px 45px; 
}
.btn-float2{
    float:left;
}
.btn-float3{
    width:100%;
    margin:auto 5px;
}
.btn-float4{
    text-align: center;
    width:100%;
    margin:auto 5px;
}
.btn-margin{
    margin:5px 100px 5px 100px;
}
.Main-margin{
    margin-top: 10px;
}
.info-box2{
    font-size:24px;
    display:block;
    background:#fff;
    width:auto;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    border-radius:2px;
    margin-bottom:15px;
}
.table-set{
    font-size:14px;
    margin-left:auto;
    margin-right:auto;
}
.btn-config{
    color:#555555;
    text-decoration: none;
}
.btn-config:hover{
    color:#000000;
}
.info-space{
    margin:5px 10px 5px 10px;
}
.info-space table{
 margin-left: 30px;
 margin-right:auto;
 margin-top: 30px;
}
.float-img{
    float:left;
    margin-right:10px;
}
.Item-infoM{
    font-size:24px;
    border-color: #000000;
    background-color:#ffffff;
    table-layout: fixed;
}
.info-box .info-box-content{
    
	display: flex;
	align-items: center;
}
.info-box .info-box-contentT{
    
	display: flex;
	align-items: center;
}
.info-box .info-box-contentS{
	display: flex;
	align-items: center;
}
.Item-infoM td{
    word-break: break-all;
}
div .col-md-3-2{
    padding-right:15px;
    padding-left:15px
}
.col-md-3{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
}
.btn-margin2{
    width:200px;
    font-size:18px;
    margin:5px 5px ;
}
.btn-margin2-top{
    width:200px;
    font-size:18px;
    margin:5px 5px 0px;
}
.btn-margin2-bottom{
    width:200px;
    font-size:18px;
    margin:0px 5px 5px;
}
.btn-position{
    clear:both;
    margin-top:35px;
    margin-right:20px;
}
.TextBoxSize{
    margin-left:auto;
    margin-right:auto;
}
.form-font{
    font-size:24pt;
}
input{
    font-size:200%;
}
.form-control{
    margin-top:10px;
}
.floatItem a{
    float:right;
    font-size:24px;
    color:#ffffff;
    text-align:center;
}
.btn-pos{
    margin-right:10px;
    font-size:16px
}
.FileUp{;
    border:solid 1px;
    padding:2px
}
.LoginLink{
    text-align:center;
}
.FileUpText{
    padding:1px 2px;
    border:solid 1px;
    font-size:12px;
}
.kagu_Search{
    font-size:24px;
    width:90%;
}
.setuS{
    min-width:150px;
    max-width:450px;
}
.setuU{
    min-width:180px;
    max-width:180px;
}
.info-box .info-box-contentT img{
    height:192px;
    background-color: #ffffff;
}
.info-box .info-box-contentS img{
    height:256px;
    background-color: #ffffff;
}
.box2{
    position:relative;
    border-radius:3px;
    background:#ffffff;
    border-top:3px solid #d2d6de;
    margin-bottom:20px;
    width:25%;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
.row2{
    float:right;
}
.cate-font{
    font-size:16px;
}
.setuS2{
    min-width:400px;
    max-width:600px;
}
.odreco-btn{
    margin: 0px 10px;
    font-size: 18px
}
.main-sidebar{
    position: fixed;
    min-height:100%;
    height:auto;
}
.sidebar{
    min-height:100%;
    height:auto;
}
.warpper{
    min-height:100%;
    height: auto;
}
/* ヘッダー */
.main-header{
  position: fixed; /* 固定 */
  top: 0; /* 一番上に表示 */
  left:0;
  min-width: 100%; /* 中央に表示 */
  width: auto; /* 中央に表示 */
}
.SearchWord{
    margin-left:10px;
    font-size:20px;
    width:50%;
}
.treeview{
    padding: 5px;
}
.Searchfont{
    font-size:14px;
}